<div class="row" style="background: url('../assets/images/1.png');">

    <div class="col-md-5 col-lg-5 col-sm-12 left">
        <h1>1ère plateforme de recherche de prestataires <span class="innovant">innovants</span></h1>
        <p class="sousTitre">Obtenez en moins de 3 semaines les propositions détaillées des solutions adaptées

            à votre besoin et discutez avec les entreprises pertinentes.</p>
        <div class="recherche">
            <input class="form-control" type="text" placeholder="Mot Clé">
            <button class="btn rechercher">Rechercher</button>
        </div>
        <div class="blocMotCle">
            <button class="motcle">Marketing Automation</button>
            <button class="motcle">Sourcing de prospects</button>
            <button class="motcle">CIRH</button>
            <button class="motcle">CRM</button>
            <button class="motcle">IT</button>
            <button class="motcle">IA</button>
            <button class="motcle">Supply Chain</button>

  

            <button class="motcle">Formation</button>
            <button class="motcle">Reporting</button>

        </div>
    </div>

</div>

<hr>

<div class="row">
    <div class="col-md-6"> <img style="width: 100%;" src="assets/images/2.png" alt=""> </div>
    <div class="col-md-6">
        <h1>Vous recherchez un outil pour un besoin de votre société ?</h1>
        <p class="sousTitre">Collaboration Capital fédère plus <span class="innovant">d’1 Million </span>
            de solutions, venant de startups et d’entreprises matures.</p>
        <ul>

            <li>

                <div class="globl">
                    <div class="icon">
                        <i class="material-icons">check_circle_outline</i>
                    </div>
                    <div class="desc">
                        <p class="sousTitre">
                            Votre recherche est partagée à notre réseau, et vous recevez des propositions adaptées à
                            votre recherche.<br>

                            <span class="innovant">Nous sommes entièrement gratuits envers les solutions répondant à
                                votre besoin. </span>
                        </p>
                    </div>
                </div>
            </li>

            <li>

                <div class="globl">
                    <div class="icon">
                        <i class="material-icons">check_circle_outline</i>
                    </div>
                    <div class="desc">
                        <p class="sousTitre">
                            Pour 720€, votre projet est diffusé à notre réseau en France et reste actif pendant 1 mois..
                        </p>
                    </div>
                </div>
            </li>


            <li>

                <div class="globl">
                    <div class="icon">
                        <i class="material-icons">check_circle_outline</i>
                    </div>
                    <div class="desc">
                        <p class="sousTitre">

                            Découvrez l’ensemble des technologies existantes, leurs réponses à votre besoin, et retenez
                            le meilleur prestataire!</p>
                    </div>
                </div>
            </li>

            <li>

                <div class="globl">
                    <div class="icon">
                        <i class="material-icons">check_circle_outline</i>
                    </div>
                    <div class="desc">
                        <p class="sousTitre">
                            Si votre recherche concerne un besoin technique ou R&D spécifique à votre activité,.
                            <span class="innovant">contactez nous </span>.
                        </p>
                    </div>
                </div>
            </li>
        </ul>



    </div>
</div>

<hr>

<div class="container">
    <h1 class="ip"> Les indicateurs de performance
    </h1>
    <br>
    <div class="row">
        
        <div class="col-md-4 ip">
            <img src="assets/images/1.svg" alt="">
            <p class="sousTitre">Durée moyenne d'une recherche</p>
            <h3>3 Semaines</h3>
        </div>


        <div class="col-md-4 ip">
            <img src="assets/images/2.svg" alt="">
            <p class="sousTitre">Durée moyenne d'une recherche</p>
            <h3>7 à15</h3>
        </div>


        <div class="col-md-4 ip">
            <img src="assets/images/3.svg" alt="">
            <p class="sousTitre">Durée moyenne d'une recherche</p>
            <h3>4</h3>
        </div>
    </div>
</div>


<div class="row" style="background: url('../assets/images/slide1.png');">
  <owl-carousel-o [options]="customOptions" style="width: 100%;">
    <ng-template carouselSlide>
        <div class="card">
            <div class="card-header">
                khkj
            </div>
            <div class="card-body">
                <img src="assets/logo.png" alt="">
            </div>
        </div>
    </ng-template>  
    <ng-template carouselSlide>
        <div class="card">
            <div class="card-header">
                khkj
            </div>
            <div class="card-body">
                <img src="assets/logo.png" alt="">
            </div>
        </div>
    </ng-template>  
    <ng-template carouselSlide>
        <div class="card">
            <div class="card-header">
                khkj
            </div>
            <div class="card-body">
                <img src="assets/logo.png" alt="">
            </div>
        </div>
    </ng-template>  
  </owl-carousel-o> 
  

</div> 

<br>
<br>
<br>
<h1>sdcdsc</h1>